@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* Custom utility classes for font families */
@utility font-orbitron {
  font-family: var(--font-orbitron);
}

@utility font-jakarta {
  font-family: var(--font-jakarta);
}

@utility font-onest {
  font-family: var(--font-onest);
}